*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.4em;
    font-size: 4vw;
    background-color: rgb(100, 100, 100);

}



.header{
    width: 100%;
    height: auto;
    display: block;
    background-color: rgb(40, 40, 40);
}

.inner-header{
    margin: 0 10%;
    height: 120px;
    display: flex;
    background-color: rgb(40, 40, 40);
    justify-content: space-between;
    align-items: flex-end;

}

.icon-container{
    height: 100%;
    display: flex;
    align-items: center;

    justify-content: center;
    
}



.show-form-button button{
    color: rgb(16, 214, 32);
    background-color: rgba(0, 100, 0, 0);
    border: none;
    border-radius: 50%;
    ;
}

.show-form-button i{
    font-size: 100px;
}

.icon-container h1{
    color: white;

    font-family: 'Montserrat';
    font-size: 40px;

}

.icon-container i{
    color: white;

    font-size: 50px;
    
}

.textfield-container {
    border: 3px white solid;
    padding: 5px;
    display: flex;
    flex-direction: column;
    
}

#add-meal{
    font-size: 4vw;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

input{
    padding: 8px;
    border-radius: 6px;
    font-size: 6vw;
    margin: 0.5vw
    
}

label{
    margin-left: 9px;
}

.form {
    color: white;
    border: 2px white solid;
    display: flex;
    flex-flow: column;
    font-size: 4vw;
    align-items: center;
}

.hidden {

    display: none;
}


.main-container {
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    

}

.einkaufsliste {
    border: 1px solid lightgrey;
    background-color: lightblue;
    color: rgb(20, 20, 20);
    margin: 1em;
    padding: 1em;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.einkaufsliste .delete-icon{
    font-size: 50px;
    color: darkred;
    float: right;
}

.einkaufsliste h2{
    padding-bottom: 0.5em;
}

.einkaufsliste ul{
    padding-left: 1em;
}

#myCheck{
    float: right;
}